---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Vivere</title>
	</head>
	<body>
        <a href="/"> Home </a>
        <a href="/about/">About</a>
        <a href="/blog"> Blog </a>
        

		<h1>About ____</h1>
        <p> we are a group of deidcated high schoolers striving to make philosophy accesible for all</p>
        <h2> Mission </h2>
        <p>blaj blah blah </p>
	</body>
</html>
