---
import Navigation from '../components/navigation.astro';
import Hamburger from '../components/hamburger.astro';
import "/home/hao-gu/lolidk-/src/styles/global.css";
---

<header> 
    <nav>
        <Hamburger />
        <Navigation/>
    </nav> 
</header>
